header.big {
  min-width: 200px;
  text-align: center;
  padding: 4rem 6rem;
}

header .links {
  display: flex;
  justify-content: center;
}

header .links a {
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  margin: 1rem 2rem 0;
}

@media screen and (max-width: 500px) {
  header.big {
    text-align: center;
    padding: 1rem;
  }

  header .links {
    flex-wrap: wrap;
  }
}
